# Konfigurasi Database MySQL
DATABASE_URL=mysql+mysqlconnector://root:password@localhost:3306/inventaris_bmkg

# Konfigurasi Keamanan & Token JWT
SECRET_KEY=ganti_dengan_random_string_aman_minimal_32_karakter_contoh_d83fa9012bcfe87
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Mode Debug (true untuk development, false untuk production)
DEBUG=true

# URL Basis Backend (untuk akses asset upload)
BASE_URL=http://localhost:8000
